body {
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.switch {
    -webkit-appearance: none;
    appearance: none;
    width: 84px;
    height: 44px;
    background-color: #C6C6C6;
    border-radius: 40px;
    border: 1px solid gray;
    outline: none;
    transition: 200ms;
    position: relative;
}

.switch:checked {
    background-color: mediumspringgreen;
    border: 1px solid mediumspringgreen;
}

.switch::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #FFF;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    transition: 200ms;
}


.switch:checked::before {
    left: 41px;
}